body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-solid{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}
/* footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
    text-align: center;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,
.f-info-brand,
.f-info-social{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-social i{
    font-size: 1.8rem;
    margin-right: 0.7rem;
}
.f-info{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-color: #ebebeb;
}

/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-links{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show img */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}